<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>¡Felicidades, <%= @creator.email %>!</h1>
    <p>
      Te informamos que tu producto <strong>"<%= @product.name %>"</strong> (ID: <%= @product.id %>)
      ha registrado su primera venta.
    </p>
    <p>
      Este es un hito importante. ¡Sigue así!
    </p>
    <p>
      Atentamente,<br>
      El equipo de PuntosPoint
    </p>
  </body>
</html>