<style>
  body {
    background-color: #4a148c;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 1rem;
  }

  .container {
    padding: 2rem;
    width: 100%;
    max-width: 600px;
  }

  h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  .btn-docs {
    display: inline-block;
    background-color: #ffffff;
    color: #4a148c;
    padding: 15px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid #ffffff;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    display: none;
  }

  /* Efecto al pasar el mouse por encima */
  .btn-docs:hover {
    background-color: #f3e5f5;
    color: #4a148c;
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  }

  .password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  input[type="password"] {
    padding: 10px;
    margin: 10px;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 1rem;
    background-color: transparent;
    color: white;
  }

  button {
    background-color: #ffffff;
    color: #4a148c;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    font-size: 1rem;
    border: 2px solid #ffffff;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  button:hover {
    background-color: #f3e5f5;
    color: #4a148c;
    transform: translateY(-3px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  }
  .error-message {
    color: #ff8a80;
    margin-top: 1rem;
    font-weight: bold;
  }
  .diagram-container {
    width: 100%;
    max-width: 900px;
    margin-top: 3rem;
  }
</style>


<div class="container">
  <h1>Puntospoint</h1>
  <p>Por favor, ingresa la clave para acceder a la documentación de la API:</p>

  <%# Muestra el mensaje de error si existe %>
  <% if @error_message %>
    <p class="error-message"><%= @error_message %></p>
  <% end %>

  <div class="password-container">
    <input type="password" id="password" placeholder="Ingrese la clave" required>
    <button id="submit-btn" onclick="validatePassword()">Acceder</button>
  </div>
</div>

<script>
  function validatePassword() {
    const enteredPassword = document.getElementById('password').value;

    if (enteredPassword) {
      window.location.href = `/?password=${encodeURIComponent(enteredPassword)}`;
    } else {
      alert("Por favor, ingresa una clave.");
    }
  }

  document.getElementById('password').addEventListener('keypress', function(event) {
    if (event.key === 'Enter') {
      event.preventDefault();
      validatePassword();
    }
  });
</script>

<div class="diagram-container">
  <iframe
    frameborder="0"
    style="width:100%; height:600px; border:0;"
    src="https://viewer.diagrams.net/?tags=%7B%7D&lightbox=1&target=blank&highlight=0000ff&edit=_blank&layers=1&nav=1&title=puntospoint.drawio&dark=0#R%3Cmxfile%3E%3Cdiagram%20name%3D%22P%C3%A1gina-1%22%20id%3D%22t9XyDboVZcvItZkwl15S%22%3E7Z1vc9u4EcY%2FjWfSF9cRSVEiX8ZO0k6bXK9Jrtf2jQYWEYkXiuCRUBzl0x8ogfrjBW35Yq4W7c5kJiZIUSKx%2FAF88GBxFd2svv6lFtXyncpkcRWOsq9X0aurMAyj6dT815ZsdiVBFEa7kkWdZ7bsUPAh%2FyZt4ciWrvNMNicHaqUKnVenhXNVlnKuT8pEXau708M%2BqeL0WyuxkKDgw1wUsPSXPNPLXWkSTg%2Flf5X5Ytl9czBJd3tWojvYXkmzFJm6OyqKXl9FN7VSevfX6uuNLNq7192X3efe9Ozd%2F7BalvqcD%2Fx39K%2B7d3d%2FW8TN6jb58Zefo%2BSfP%2F4QTCe783wRxdpe8rqRdWN%2Fs950N6K5y1eFKM3W9SdV6g92z8hsz5d5kb0VG7Vuf0ijxfxzt3W9VHX%2BzRwvCrMrMAVmd61tPYeT9mx5UdyoQtWmIJOfxLo4%2FdyH9nz2m2rZmE%2F%2B1F1zsC96Kxrd%2FRpVFKJq8tvt72sPWYl6kZfXSmu1sgd1V%2FPG%2BeWiyBelKZmbr5Fm17W9R7LW8mvv7Q%2F2lWoeB6lWUtcbc4j9QDyycWCfhMhu3h2iKkpt2fIoosLE1pCwkbzYn%2FpQ2eYPW99PqvspqHvzARNG05v20mqVree6eTGvpdAym91uZm1ozPLsT%2FuDxDrL9Ux%2BMTeheXHYez92lqJq%2FzR3S%2BeieG8eVFEu2r3XWlW2Sgr5qavC2l5%2B%2B%2FftcbV1FbM79rqtkNw8qy9t8fZk100l5nm5%2BLg98w%2FhvRAr1TaG7UFvd186GR%2BK3tsvb4uU%2BYZPxfapXeZZJsv2xykttLjdR3%2BlcnPx7YXG1%2BafqcKb0Z%2Fjq9hc%2BI3ZDg7b5l97eK1vVNnoWuTbyJEmdO9kG77XWa2qjyZYZXfxZ8XdQw82DEcbfuHkzPAbLvoSEH1v%2Fv7doXMSLo56fySCVqaWCxgffzA8ggQGyGMx0F6o5VZv7dvGzn7LoYk5Iyqm7qg4CoN4jBoFKYgCuRJ5wQyhz5A4vDRDkhGIHibIwARJiREkCSBBynm9qdo%2BSyWa5k7VGeOEPk66DsEFcRIyTpBxkvS8NV0OJxGIAfOKKfUeJTOtPpsby0AhD5RgNL44UcZMFGyiRNSIEj9GlMZc0kxoZooHTDlbtxsunqBky0wZmCkxNaZA6baWK7m6lfWs02sZKF4AJb64EptAJZaBMjBQqOmwCdRhf9U5A8QDgHSqxeUAkrIMiw4QajJsCmVYvWlr%2FOXVTXj1cnQ1vW5HjcPJb%2BvW8XD9Mlvl5WGzfcSOd%2F%2FcyPp4r%2Fn8K6YRfRqFo4uruCmruNg0SqmpuClUcfm1yCuORBfXblPWbtE5Qk27TaF2u64y5og%2FHJlcXK9NWa9F5wg1vTaFeu183ZgqZKv181utJ%2FYTnU0NEiCMU0ftD%2Be0TqHCeuy0XtfzpWhk86KLCXZRE2ld0h6dtt9F7Q6t4SIL6rbsoh68eUloNS%2FhCAqwpVhJRgh9hDhM1LgICUdQuWWADAoQ%2B7xSAgjUTJt1zQzxgyEO5zQ2Q6DeygwZmCEhNYZAvZSncnlCEJdVGhshUGplhAyMkDE1hECptFq2VcUIoY8QhzMaGyFQZWWEDIyQnuGXyyEESq0iy2rZOHR2hgg5iDjc0NgQgYoqQ2RgiFDTUwOop9Zykbe3RueqnLUOAMaJBzhxeKORcRKwuoqNk4Cauho41FVzA9fcJfGAIS5HMzZDWF1FZwg1dTWA6io7mr3iiMPRjM0RlljROUJNYg0cCV%2FZ0ewTRxyOZmyOsM6KzhFqOmsAdda5ochC1blkS%2FNzW5rT6T1P89gBgaljWsNeARkgAqBQemRq7oLh21Yxa17Y7Q1bm2k0M%2FYBfpK12RVgwxEmhCIsW5sHb2eI5RXYXxJbm71DiMvajIwQKLwyQIYFSF9H5nIAgeJpJpt5nVdtx4Q5Qp8jLnszMkc4FQA6R4ilAjBfB2KAB%2FF8QYjT34zMEE4DgM4QYmkAwtCRBoAH8XziiMvkjMwRztaKzhFi2VrDEEqvPIjnFUdcPmdcjkRQXmWODMwRauJq7Jhv1SWjgcHAY3jfNYbX5SGyCBjH8bkIGA1W%2Fw%2BvAGtDYZZruWpeHDZ5BI9EGxM%2FeYlX5CYm5iVe8RuZmFpnNYad1aM8Z3va7PPhvWC%2BeMGXyw%2FvTdghcAG%2BUOvETqBDYN9V4Yl6frDk8kN8E7YKYJNkQs0qMIFWAa3aF1cmCHmCEBjhm7BLAB0h1FwCE3YJeMyQy4%2FuTdglgM4Qai6BCVRlK7FZtYtEm29YqoxZ4gFLLj%2FCN2GnADpLqImvEyi%2BNsu8qsydnnFeNH9o4kpkhEuTKfsF0GlCTWqdQqmV%2FYs%2BccSZzAiZIyy0YnNkSk1onUKhlf2LXnHElcwImSOstqJzhJraOoVq66lpDUYEmxif08Q4nToU04kjBqLhTIxTKJnmLJFRaESmPcrqAwZFV%2BwMyA9OZIXehlBLZDWFKumR0%2FkKLtLK9kQv6OKyJyLTBWqvbE8cnC%2FU1hJIoG5qWdJe3UxvKnYoeoATl0MRFycJrySADZOE2koC3TBQD0z4vccHlDitisgs4RUF0FkSUmMJFFB%2FW4tS53rDFPGAIi6zIjJFeD0BdIpQW08gcawnUOZ6VtX5nF9sfOCIy6iIzBGWYdE5Qk2GTaAMu517xSDxBiQujyIySHjtVnSQUNNbU6i3ZnkzV%2BtSz8Sq%2FY9hQh8mTqMiLkxS1luxYZJS01tTqLdq8ZU54g9HXEZFZI6w1orOEWpaawq11lJpV5JFRgg5hLgWXERGCAut6AihJrSmUGjluVdecSS5uNCastCKzhFqQmsKhVaee%2BUTR6Lg4jpryjorOkeI6azRCOqs%2BUosOHH888%2B5ujfpKnH5x7pR3JPK78SPAWofiqNsPqTQetjn8kmTrpyxMxw4oKbKjcegjYd9Wik1HlAT3TYePCXCI5S4Zlgho4RzAKCjhFgOgGgEtdEDSrhP4gNIXHOrkEHCaVfRQUIs7Wo0ciyG1YJktq45A7wHFHFOq0LGCGdcRccIsYyr0Qhqo5ls5nVe6VyVDBIPQOKaWYULkoCTraKDhFiy1SiAEuu6KpTIeFUrX0DimlqFDBIWW7FBElATWwMotrJzyCuOuGZWIXOElVZ0jlBTWgOotLJzyCeOOCdVIXOEhVZ0jlATWgMotM4NRRatb0e0IglbiJ7bQpR2K3d0FiJn8pgYRsG%2B6zFAGECxlIfrSDQjQY%2Bm%2BlDeZkfsDEgQ9p%2BityLU%2FKchlEhtK7I5ztvctSycuNkXvDgTN6PiJYTKKyduHhowIbG5%2F1HXpji7qexT9AcoztTNuEDhFADoOAmp4QQqqKc44ZcfH2DiTt6MSxPOBoBOE2LZAKIQ6qg8pucVR85V4AaMIc4GgM4RYtkAopCzAXjOEWf6ZlyOsBqLzhFqamwE1VixznI9k19ke9d4QO95B%2FSCUZd%2FocsK4upOhI4QSIaLAc4JQLQNiZ6eE8AZO8OFDtRauQkZtgmJqNlUIyiSbpsQ1to9Qolz8A4XJexURUcJNadqBBXSA0q4T%2BIDSJyDdrggYasqOkioWVUjKJFuX2i5P%2BIJRtzDdbgc4aQA6ByhlhQgghKpKrLZdpMXAfCBI2fra4PF0JhzAqBzhFpOgDGUWEt5xxzxhyPO4TpcjrDWis2RMTWtdQy11nUj6%2BOJE%2B02z5nwBSvOtVdxsQJ1V540MThYqCmvY6i8mjOLzNxD5gh9jriXXcXlCMuu6BShJruOHRkC2N3sE0ecy67icoRlV3SOUJNdx1B2ZXezVxxxrr2KypGYZVd0jhCTXUOHs7WqVbaes7P52Z3NcadPWgSMRy4EOKp%2FP9A6QP1DyZRdRBTaj7DPxfqQsxkXHTz1H3upzN3TSqn5gNJoKVbsH%2FIAIE4%2FM27w8Gx%2FdIAQm%2B0fOqyovKaIVxxx2plxY4hn%2B6NzhNhs%2F9BhRa3qfM49EQ8I4nYy44YPT%2FRHRwixif6hw4XaaDX%2FzAjxACFOEzNu%2BEAllREyLELGxBKrhg4D6q2o5yrjfogPEHE6mHEDiDVVdIhQ01QddtPbWpQ8KuMDQpxuZdzwYVUVHSHUVFWH03TrMsxVyUuseoISt2EZN4xYWEVHCTVh1WE2bcwNXPOcTB8Y4jQr48YPK6voDKGmrDqMpt2kh9vNjKdn%2BkwYp40ZN7p4TSt8xsTUpNfOzsQTq3wlSXJx9TVm9RWdI9TU1xiqrzyxyieORMHFJdiYJVh0jhCTYKMuBo6qXGYL2U2aMjdqqRaqFMXrQ6m5x%2Bsyk5mt5cMxb9U2JNp796vUemMnT4m1VqZoqVcnU6te1vW26l6%2FX4ky%2B8eOCu2OdqqTPbcss8NhJoI%2Bqnei3Ox2HB22u4b2h%2Fc%2BpLaoUet6Lh%2B4I0FqlSTdcaC%2FMntm29ayEDr%2FcvpbXFW3%2Fai5PrE5OsCG6%2BHMP7UFV%2FvpWZ2Bo1tIPj0OgseOjux7UN%2Fh%2Bxx3f%2FD4cTq%2BF5O7yztE6P4%2BfU%2FQTi4RtCaU6s2%2F94FpNv7TbpimxW6%2B%2Bnq889XGbhEOdhvC5wT7tEetOTvYv5NTU67y5%2BHb9Owq73t5xqryhKv8eZ7yID2zynvXAMeq8pRAb%2BS4Th6svG%2ByVh%2FVrpYHq7x9psBHK88%2B2RervC4rxP%2Fy87qr8u98YB9%2FDEc9%2BaCe1rMEvbX4fm%2BtG%2FHoTrGLRvupB7p9cXh6oqR7cLsT7S4RnOjJfd3U%2FYN7e7v3jk%2FSGKE7OrnIO9Q%2B8ANPAv%2FZwzkKxqe1PYrOisLHn4tuPPqR5%2BLJ4dxNAbz3Pb3hfO%2F47gIHDuf%2Fg7erZ%2BH44x2vLm3JGR2vHmHoOx%2BR9N4ilen4HvF7HpHHg8ls1krp48NrUS3fqUy2R%2FwO%3C%2Fdiagram%3E%3C%2Fmxfile%3E">
  </iframe>
</div>